<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>998452691219-li0vm5l6sg322ghr5e37kbk2p9hvc7sv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998452691219-li0vm5l6sg322ghr5e37kbk2p9hvc7sv</string>
	<key>API_KEY</key>
	<string>AIzaSyCV5WrxeGqK66-nEDNFCRcgQtMcDnXejoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>998452691219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pankajnaik1920.conver</string>
	<key>PROJECT_ID</key>
	<string>conver-79935</string>
	<key>STORAGE_BUCKET</key>
	<string>conver-79935.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998452691219:ios:466bd49def61fe4a73dae6</string>
	<key>DATABASE_URL</key>
	<string>https://conver-79935.firebaseio.com</string>
</dict>
</plist>